flask==3.0.0
flask-cors==4.0.0
python-dotenv==1.0.0
google-generativeai>=0.8.3
werkzeug==3.0.1
youtube-search-python==1.6.6
youtube-transcript-api==0.6.1
PyPDF2>=3.0.1
python-pptx==0.6.21
python-docx==0.8.11
Pillow==10.1.0
flask-limiter==3.5.0
requests==2.31.0
